# Entorno virtual
.venv/
venv/
env/

# Python
__pycache__/
*.pyc

# Variables de entorno
.env

# Base de datos local
instance/*.db
instance/*.sqlite3

# Editor / SO
.vscode/
.idea/
.DS_Store
Thumbs.db
